/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: '404ERROR';
  src: url(asset-path('fonts/404ERROR.TTF')) format('truetype');
}

@font-face {
  font-family: 'ContourDeLettres';
  src: url(asset-path('fonts/ContourDeLettres.TTF')) format('truetype');
}



body{
  margin:0;
}

.main{
    height: 100vh;
    background-image: url(https://i.imgur.com/ZLnEjUn.jpg);
    background-size: 100vw 100vh;
}

.container{
  padding:20px;
}

.center{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-family: "ContourDeLettres";
  font-size: 5em;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.eventlist{
  width: 450px;
  display: table;
}

.row{
  display: table-row;
  margin-top: 5px;
}

.third{
  display: table-cell;
  text-align: center;
  width: 150px;
  margin-top: 5px;
  font-size: 1.3em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



@media (max-width: 750px) {
  .main{
    height: 100vh;
    background-image: url(https://i.imgur.com/TyaeIXe.png);
    background-size: 100vw 100vh;
  }

  .title{
    font-size: 4.5em;
     color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }


  .eventlist{
    width:400px;
  }

  .third{
   color: #E2D56F;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

